*{
    margin:0px;
    padding:0px;
}
body {
    background-color: rgb(20, 16, 16);
    

    font-family: "Poppins", serif;


}
.title{
    color:white;
    text-align:center;
    padding:20px;
}
.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    
}
.container div{
    width:200px;
    color:white;
    margin:10px;
    flex-basis:20%;
}